{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Suplement</title>
</head>
<body>
    {% block suplement %}

        {% if kategoria_suplement %}
            {% for suplement in kategoria_suplement %}
                    <p><a href="/suplement/{{ suplement.id }}" class="text-left"> {{ suplement.nazwa }} </a></p>
{#                        - {{ suplement.producent }} <img style="height: 10%" src="{{suplement.foto.foto.url}}">#}
            {% endfor %}
        {% else %}

        {% endif %}

    {% endblock %}
</body>
</html>