{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Suplement</title>
</head>
<body>
    <div class="container">
        {% block suplement %}

            {% if kategoria_suplement %}
                <div class="row">
                    {% for suplement in kategoria_suplement %}
                        <div class="card col-md-4 col-sm-6 col-xs-12 bg-white text-center" style="min-height: 400px">
                            <a href="/suplement/{{ suplement.id }}" class="text-left">
                                <img class="card-img-top" src="{{suplement.foto.foto.url}}" style="height: 70%"><br>
                                <div class="card-body text-center">
                                    {{ suplement.nazwa }} - {{ suplement.producent }}<br>
                                    {{ suplement.cena }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}

            {% endif %}

        {% endblock %}
    </div>
</body>
</html>