{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <title>Sklep z suplementami</title>
    <style>
        body {
            background-color: #ffffcc;
            margin: 0;
            padding: 0;
        }
        [class *= "col-"] {
            background-color: #ffffcc;
            text-align: center;
            padding: 1%;
        }
        [class *= "container"] {
            background-color: white;
            text-align: center;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .row {
            margin: 0;
        }

    </style>
</head>
<body>
    <div class="row font-italic text-white bg-light">
        <div class="col-3 bg-warning d-none d-md-block">
            <h1><a href="{% url 'koszyk' %}"><span class="bi-basket"></span></a></h1>
        </div>
        <div class="col-6 bg-warning d-none d-md-block">
            <h1><a class="text-white" href="{% url 'index' %}"> SKLEP Z SUPLEMENTAMI </a></h1>
        </div>
        <div class="col-3 bg-warning d-none d-md-block">
            <h4>
                {% if request.user.is_anonymous %}
                    <h4><button class="btn-success"><a class="text-white" href="{% url 'wylogowanie' %}">Zaloguj</a></button></h4>
                {% else %}
                    <a href="{% url 'profil' %}"><span class="bi-person">{{ request.user }}</span></a>
                    <h4><button class="btn-success"><a class="text-white" href="{% url 'wylogowanie' %}">Wyloguj</a></button></h4>
                {% endif %}
            </h4>
        </div>
    </div>
    <div class="row font-italic text-white bg-light">
        <div class="col-3 bg-warning d-md-none">
            <h3><a href="{% url 'koszyk' %}"><span class="bi-basket"></span></a></h3>
        </div>
        <div class="col-6 bg-warning d-md-none">
            <h4><a class="text-white" href="{% url 'index' %}"> SKLEP Z SUPLEMENTAMI </a></h4>
        </div>
        <div class="col-3 bg-warning d-md-none">
            <h4>
                {% if request.user.is_anonymous %}
                    <button class="btn-success"><a class="text-white" href="{% url 'wylogowanie' %}">Zaloguj</a></button>
                {% else %}
                    <a href="{% url 'profil' %}"><span class="bi-person"></span></a>
                    <button class="btn-success"><a class="text-white" href="{% url 'wylogowanie' %}">Wyloguj</a></button>
                {% endif %}
            </h4>
        </div>
    </div>
    <div class="text-center p-3">
        <h2>Koszyk</h2>

        <div class="heading">
            <div class="p_name"><h4>Nazwa produktu</h4></div>
            <div class="name"><h4>Zmniejsz</h4></div>
            <div class="name"><h4>Ilość</h4></div>
            <div class="name"><h4>Zwiększ</h4></div>
            <div class="name"><h4>Cena za sztukę</h4></div>
            <div class="name"><h4>Cena łączna</h4></div>
            <div class="name"><h4>Usuń</h4></div>
        </div>

        <div class="itemContainer">

            {% for suplement in items %}
                    <div class="item">
                      <div class="iteminfo">
                        <p>{{suplement.produkt.nazwa}} - {{ suplement.produkt.producent }}</p>
                      </div>
                        <div class="name"><p><button class="small mt-2 minus" value="{{ suplement.id }}">-</button></p></div>
                        <div class="name"><p>{{ suplement.ilosc }}</p></div>
                        <div class="name"><p><button class="small mt-2 plus" value="{{ suplement.id }}">+</button></p></div>
                        <div class="name"><p>{{suplement.produkt.cena}}</p></div>
                        <div class="name"><p>{{suplement.kwota}} zł</p></div>
                        <div class="name"><p><button class="bi bi-trash-fill trash mt-2" value="{{ suplement.id }}"></button></p></div>
                    </div>
            {% endfor %}
        </div>

        <div class="pay-section">
        <h3>Całkowita kwota: {{cart.kompletna_kwota}} zł</h3>
        <button>Przejdź do płatności</button>
        </div>
    </div>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');


    let plus_btns = document.querySelectorAll(".plus")

    plus_btns.forEach(btn=>{
        btn.addEventListener("click", plusQuantity)
    })

    let minus_btns = document.querySelectorAll(".minus")

    minus_btns.forEach(btn=>{
        btn.addEventListener("click", minusQuantity)
    })

    let trash_btns = document.querySelectorAll(".trash")

    trash_btns.forEach(btn=>{
        btn.addEventListener("click", trashSupplement)
    })

    function plusQuantity(e){
        let suplement_id = e.target.value
        console.log(e.target)
        let url = "/aktualizacja_koszyka_plus/"
        let data = {id:suplement_id}
        fetch(url, {
            method: "POST",
            headers: {"Content-Type":"application/json", 'X-CSRFToken': csrftoken},
            body: JSON.stringify(data)
        })
            .then(res=>res.json())
            .then(data=>{
                console.log(data)
            })
            .catch(error=>{
                console.log(error)
            })
        location.reload()
    }

    function minusQuantity(e){
        let suplement_id = e.target.value
        console.log(e.target)
        let url = "/aktualizacja_koszyka_minus/"
        let data = {id:suplement_id}
        fetch(url, {
            method: "POST",
            headers: {"Content-Type":"application/json", 'X-CSRFToken': csrftoken},
            body: JSON.stringify(data)
        })
            .then(res=>res.json())
            .then(data=>{
                console.log(data)
            })
            .catch(error=>{
                console.log(error)
            })
        location.reload()
    }

    function trashSupplement(e){
        let suplement_id = e.target.value
        console.log(e.target)
        let url = "/usuwanie_elementu/"
        let data = {id:suplement_id}
        fetch(url, {
            method: "POST",
            headers: {"Content-Type":"application/json", 'X-CSRFToken': csrftoken},
            body: JSON.stringify(data)
        })
            .then(res=>res.json())
            .then(data=>{
                console.log(data)
            })
            .catch(error=>{
                console.log(error)
            })
        location.reload()
    }
</script>

</body>
</html>