{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <title>Sklep z suplementami</title>
    <style>
        body {
            background-color: #ffffcc;
            margin: 0;
            padding: 0;
        }
        [class *= "col-"] {
            background-color: #ffffcc;
            text-align: center;
            padding: 1%;
        }
        [class *= "container"] {
            background-color: white;
            text-align: center;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .row {
            margin: 0;
        }

    </style>
</head>
<body>
    <div class="row font-italic text-white bg-light">
        {% if not request.user.is_anonymous %}
        <div class="col-3 bg-warning d-none d-md-block">
            <h1><a href="{% url 'koszyk' %}"><span class="bi-basket"></span></a></h1>
        </div>
        {% else %}
            <div class="col-3 bg-warning d-none d-md-block"></div>
        {% endif %}
        <div class="col-6 bg-warning d-none d-md-block">
            <h1> <a class="text-white" href="{% url 'index' %}"> SKLEP Z SUPLEMENTAMI </a></h1>
        </div>
        <div class="col-3 bg-warning d-none d-md-block">
            <h4>
                {% if request.user.is_anonymous %}
                    <h4><button class="btn-success"><a class="text-white" href="{% url 'wylogowanie' %}">Zaloguj</a></button></h4>
                {% else %}
                    <a href="{% url 'profil' %}"><span class="bi-person">{{ request.user }}</span></a>
                    <h4><button class="btn-success"><a class="text-white" href="{% url 'wylogowanie' %}">Wyloguj</a></button></h4>
                {% endif %}
            </h4>
        </div>
    </div>
    <div class="row font-italic text-white bg-light">
        {% if not request.user.is_anonymous %}
        <div class="col-3 bg-warning d-md-none">
            <h3><a href="{% url 'koszyk' %}"><span class="bi-basket"></span></a></h3>
        </div>
        {% else %}
        <div class="col-3 bg-warning d-md-none"></div>
        {% endif %}
        <div class="col-6 bg-warning d-md-none">
            <h4><a class="text-white" href="{% url 'index' %}"> SKLEP Z SUPLEMENTAMI </a></h4>
        </div>
        <div class="col-3 bg-warning d-md-none">
            <h4>
                {% if request.user.is_anonymous %}
                    <button class="btn-success"><a class="text-white" href="{% url 'wylogowanie' %}">Zaloguj</a></button>
                {% else %}
                    <a href="{% url 'profil' %}"><span class="bi-person"></span></a>
                    <button class="btn-success"><a class="text-white" href="{% url 'wylogowanie' %}">Wyloguj</a></button>
                {% endif %}
            </h4>
        </div>
    </div>
    <div class="row font-italic bg-light">
        <div class="col-xs-4 col-sm-3">
            <h3>Kategorie</h3>
            {% for kat in kategorie %}
                <p><a href="/kategoria/{{ kat.id }}" class="text-decoration-none">
                    <button type="button" class="btn btn-outline-warning">
                        {{ kat.nazwa }}
                    </button>
                </a></p>
            {% endfor %}
        </div>

        <div class="col-xs-8 col-sm-9 container- bg-transparent">
            <form class="form-inline my-2 my-lg-0" action="szukaj">
              <div class="input-group">
                  <input name="q" type="text" class="form-control" placeholder="Szukaj"/>
                  <div class="input-group-append">
                    <button class="btn btn-dark" type="submit" id="button-addon2">Szukaj</button>
                  </div>
              </div>
            </form>
            <br><h3>Witaj {{ request.user }}!</h3><br>
            <h5 class="font-italic">Witamy w aplikacji naszego sklepu. Zachęcamy do zapoznania się z szeroką ofertą produktów oraz do
                wypełnienia ankiety, która pomoże Ci dobrać odpowiednie dla Ciebie suplementy.<br><br>
                Życzymy miłych zakupów!</h5>
        </div>
    </div>
</body>
</html>