{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Suplement</title>
</head>
<body>
    <div class="container">
        {% block suplement %}
        {% if suplement_adres %}
            <h1> {{ suplement_adres.nazwa }}</h1><hr>
            <img style="height: 30%" src="{{suplement_adres.foto.foto.url}}"><hr>
            <h4><p class="font-italic">Cena: {{ suplement_adres.cena }}</p></h4><hr>
            <h4><p class="font-italic">Producent: {{ suplement_adres.producent }}</p></h4><hr>
            <h5>{{ suplement_adres.opis|linebreaks }}</h5><hr>
            <h4><p class="font-italic">Rodzaj: {{ suplement_adres.rodzaj_suplementu }}</p></h4><hr>
            <h4><p class="font-italic">Pojemność: {{ suplement_adres.pojemnosc_suplementu }}</p></h4><hr>
            {% if not request.user.is_anonymous %}
            <form method="POST" action="">
            {% csrf_token %}
            <h4>
                <p class="font-italic">Ilość:
                    <label>
                        <input type="number" class="form-control text-center" placeholder="1" name="ilosc" min="1">
                    </label>
                </p>
            </h4><hr>
                <h4><button type="submit" data-action="add" class="btn-success dodaj" value="{{ suplement_adres.id }}">Dodaj do koszyka</button> </h4>
            </form>
            {% endif %}
            {% for message in messages %}
                {% if message %}
                <p id="msg">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Produkt nie istnieje</p>
        {% endif %}
        {% endblock suplement %}
    </div>
</body>
</html>